<template name="add_product">
	<h3>Add prodcut</h3>

	<form class="add_product" method="POST" enctype="mutipart/form-data">
		<div class="form-group">
			<label>Name</label>
			<input type="text" name="name" class="form-control" placeholder="Prodcut Name">
		</div>

		<div class="form-group">
			<label>Category</label>
			<select  class="form-control" name="category"> 
			    <option value="0">-- Select Category--</option>
			    {{#each categories}}
			    	<option value="{{slug}}">{{name}}</option>
			    {{/each}}
			</select>
		</div>

		<div class="form-group">
			<label>Product Image</label>
			<input type="file" name="prodcutImage" id="prodcutImage">
		</div>

		<div class="form-group">
			<label>Description</label>
			<textarea name="description" class="form-control"></textarea>
		</div>

		<div>
			<label>Featured</label>
			<input type="radio" name="is_featured" value="1">Yes
			<input type="radio" name="is_featured" value="0" checked>No
		</div>

		<div>
			<input type="submit" name="submit" class="btn btn-success" value="Add Prodcut">
			<a href="/" class="btn btn-default">close</a>
		</div>
	</form>
	

</template>